* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
i {
    cursor: pointer;
}

body {
    font-family: 'Noto Sans KR', 'Noto Sans';
}

/*body {*/
/*    font-family: 'Gmarket Sans', 'Noto Sans KR', 'Noto Sans', 'Kanit', 'Chakra Petch', sans-serif;*/
/*}*/


input[type="search"] {
    outline: none;
}

/*border option*/
/*double, groove, ridge, inset, outset, none, hidden*/

:root {
    --color1: #6FFF74;
    --color2: #19CD1F;
    --color3: #fcd937;
    --color4: #42b983;
    --color5: #42b98341;
    --color6: #b0ddc260;
    --color7: #5EFF5B20;
    --color8: #5EFF5B80;
    --color9: #FB622BFF;

    /*dashBoard color start */
    --color11: #110D22;
    --color12: #C322FB;
    --color13: #FF34EB;
    --color14: #62E9EB;
    --color15: #6AF288;
    --color16: #ececec21;
    --color17: #ececec81;
    /*dashBoard color end */

    --babyColor1:#b0ddc241;
    --bgColor1: #F9F9F9;
    --bgColor2: #F3F3F3;

    --main-gradient: linear-gradient(
            to bottom right,
            #6FFF74 10%,
            #19CD1F 70%
    );
    --gradient2: linear-gradient(
            to bottom right,
            #65f16a 10%,
            #3ae041 70%
    );
    --gradient3: linear-gradient(
            to bottom right,
            #ececec 10%,
            #ccc 70%
    );

    --gradient4: linear-gradient(
            to bottom right,
            #ececec 30%,
            #d5d5d5 60%
            /*#c1c1c1 20%,*/
            /*#ccc 20%*/
    );
}

::selection {
    background-color: #b0ddc2; /* 드래그 배경색 */
    color: #000; /* 드래그된 텍스트 색상 */
}

input[type="checkbox"] {
    accent-color: #24c22b; /* 체크 표시 색상 (예: 토마토색) */
    color:#fff;
    cursor: pointer;
}

input[type="radio"] {
    accent-color: #24c22b;
    margin-right: 10px;
}

@font-face {
    font-family: 'HY견고딕-Web';
    src:
            local('HY견고딕'),           /* Windows 시스템 */
            local('HanyangGothic'),      /* 한글 프로그램 */
            local('HYGoThic');          /* HFT 폰트 */
    font-weight: normal;
}


/* header -------------------------------- */



.headerWrapStaff,
.headerwrap {
    /*border:1px solid red;*/
    border-bottom: 1px solid #ececec;
    width: 98vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 60px 20px 60px;

}

.headerWrapStaff {
    border:none;
    width: 100vw;
    background-color: #1c1c1c;
    color:#fff;
    position: fixed;
    top:0;
    z-index: 33;

}

.headerWrapStaff .logoImg,
.headerwrap .logoImg {
    cursor: pointer;
}

.headerBox {
    margin: 0 auto;
    width: 1050px;

}


/* packingListStaff_View start -------------------------------- */

.mainContentStaff {
    margin: 0 auto;
    width: 94vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.mainContentStaff2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.packing_wrapghj {
    width: 94vw;

}

.mainContentStaff .titleBox .headTitle {
    padding: 80px 0 20px 0px ;
    font-family: "Gmarket Sans";
    font-size: 32px;
    font-weight: 500;
}


.pack_boxdw1 .area  {
    padding: 10px 0;
    width: 94vw;

}

.pack_boxdw1 .area2 {
    height: 60px;
}

.pack_boxdw1 .area2 .searchArea  {
    border-radius: 5px;
    border:1px solid #ccc;
    width: 340px;
    height: 40px;
    background-color: transparent;
    color:#fff;
    font-size: 22px;
    padding-left: 10px;

}

.pack_boxdw1 .area2 .right button {
    margin-right: 10px;
    font-size: 16px;
}

.pack_boxdw1 .area2 .right button:last-child {
    margin-right: 0;

}

.pack_boxdw1 .pack_list_table  {
    width: 94vw;
    border-collapse: collapse;

}


.pack_boxdw1 .pack_list_table th,
.pack_boxdw1 .pack_list_table td {
    border:1px solid #ccc;
    text-align: center;
    /*color:#ececec;*/
    color:#ccc;

}
.pack_boxdw1 .pack_list_table th {
    height: 40px;
    line-height: 40px;
    color:#ececec;

}
.pack_boxdw1 .pack_list_table td {
    height: 70px;
    text-wrap: nowrap;
    overflow: hidden;

}

/* packingListStaff_View end -------------------------------- */
/* packingStatusStaff_View start -------------------------------- */

.pack_status_wrap {
    width: 96vw;
}

.pack_status_wrap .pack_status_box {
    margin-top: 80px;
    width: 94vw;
    border:1px solid #5c5c5c;
    padding: 10px;
    border-radius: 5px;

}

.pack_status_box .area {
    width: 94vw;
    margin-bottom: 20px;

}

.pack_status_box .area .title{
    width: 220px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 600;

}


.pack_status_box .area .category {
    width: 180px;
    margin-right: 40px;

}

.pack_status_box .area .progress,
.pack_status_box .area .angle {
    margin-right: 20px;
}

.pack_status_box .area5 {
    margin-top: 10px;
    width: 90vw;

}

.pack_status_box .area1 .inner {
    width: 50%;
    height: auto;

}

.pack_status_box .area1 .productCheck {
    margin-bottom: 20px;

}

.pack_status_box .area1 .inner.imgBox_box2ck {
    margin-top: 40px;
    min-height: 280px;
    height: 280px;
    overflow-y: auto;
    /*max-height: 340px;*/

}

.imgBox_box2ck .prod_box {
    margin-bottom: 10px;

}

.imgBox_box2ck .thumBox {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 20px;

}

.imgBox_box2ck .doneBox {
    display: none;
}

.imgBox_box2ck .doneBox.active {
    display: block;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 30;
    background-color: #3ae04160;

}


.imgBox_box2ck .doneBox .checkBox {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #00000080;

}

.imgBox_box2ck .doneBox i {
    color:#fff;
    font-size: 14px;

}

.imgBox_box2ck .imgBox {
    position: relative;

}

.imgBox_box2ck .imgBox img {
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    width: 80px;
    height: 80px;
}

.imgBox_box2ck .prod_box .count {
    /*height: 80px;*/
    /*line-height: 80px; */

}


.pack_status_box .area3 .category {
    display: none;

}

.pack_status_box .area3 .imgBox_boxdzu {
    margin: 0;
}

.pack_status_box .area3 .imgBox_boxdzu .planeLayer,
.pack_status_box .area3 .imgBox_boxdzu .dashedLayer {
    margin-right: 10px;
    width: 220px;
    height: 220px;

}


/* packingStatus -------------------------------- */

.productCheck_boxarv {
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    margin: 20px 0 20px 20px;
}

.productCheck_boxarv .productCheck {
    /*padding: 5px 0;*/
}

.productCheck_boxarv .category {
    width: 100px;
    margin-right: 20px;
}


.imgBox_boxdzu .btn  {
    border:none;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 22px;
    background-image: var(--gradient3);

}

.imgBox_boxdzu .planeLayer {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: relative;

}
.imgBox_boxdzu .dashedLayer {
    border-radius: 10px;
    border:1px dashed #ccc;
    width: 100px;
    height: 100px;
    position: relative;
}

.mainContentStaff .imgBox_boxdzu .dashedLayer {
    border:1px dashed #5c5c5c;

}

.imgBox_boxdzu .dashedLayer img,
.imgBox_boxdzu .planeLayer img {
    border-radius: 10px;
    width: 100px;
    height: 100px;

}

.pack_staff_imgbox .dashedLayer img {
    width: 220px;
    height: 220px;
}

.imgBox_boxdzu .dashedLayer .inputArea {
    color:#ccc;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}


.imgBox_boxdzu .planeLayer .closeBtn {
    border:none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: #00000080;
    position: absolute;
    top:12px;
    right:12px;
}

.imgBox_boxdzu .closeBtn i {
    color:#fff;
    font-size: 18px;
    font-weight: bold;
}



.pack_status_box .area3 .imgBox_boxdzu .cam_btn {
    /*width: 220px;*/
    height: 220px;
    font-size: 28px;

}

.pack_status_box .lastArea {
    width: 90vw;
    height: 80px;
    border:none;

}

.pack_status_box .lastArea button {
    font-size: 22px;

}



/* packingStatusStaff_View end -------------------------------- */
/* pop_MagImg_View start -------------------------------- */

.mag_img_conrlo {
    width: 80vw;
    height: 80vh;
    background-color: #5c5c5c60;
    padding: 20px;
}

.mag_img_conrlo .padding_area {
    width: 100%;
    height: 100%;

}

/* pop_MagImg_View end -------------------------------- */
/* productionListStaff_View start -------------------------------- */

.prod_list_wrap {
    width: 94vw;
}

.prod_list_box .prod_list_table td.gname,
.prod_list_box .prod_list_table td.pname {
    /*width: 94vw;*/
    cursor: pointer;
}

.prod_list_box .area {

}

.prod_list_box .area1 {
    height: 60px;
}

.prod_list_box .area1 .searchArea {
    border-radius: 5px;
    border:1px solid #ccc;
    width: 340px;
    height: 40px;
    background-color: transparent;
    color:#fff;
    font-size: 22px;
    padding-left: 10px;

}

.prod_list_box .area1 .left2 .count {
    font-size: 24px;
    color:var(--color2);
    font-weight: 600;


}

.prod_list_box .area1 .right button {
    margin-right: 10px;
}

.prod_list_box .area1 .right button:last-child {
    margin-right: 0;

}

.prod_list_box .area2 {
    margin-top: 10px;
}

.prod_list_box .area2 .prod_list_table {
    border-collapse: collapse;
    width: 94vw;
    text-align: center;

}

.prod_list_box .area2 .prod_list_table th,
.prod_list_box .area2 .prod_list_table td {
    /*height: ;*/
    border:1px solid #ccc;

}


.prod_list_box .area2 .prod_list_table th {
    height: 40px;
    color:#ececec;

}

.prod_list_box .area2 .prod_list_table td {
    height: 70px;
    color:#ccc;

}

.prod_list_box .area2 .prod_list_table .ta_left {
    text-align: left;

}

.prod_list_box .lastArea {
    margin-top: 10px;
    height: 60px;
}


/* productionListStaff_View end -------------------------------- */
/* productionDetailStaff_View start -------------------------------- */


.prod_status_wrap .headTitle {
    /*padding: 0;*/
    /*margin: 0;*/
    margin-bottom: 20px;
    font-size: 22px;
    /*font-weight: bold;*/
    font-family: "Gmarket Sans";

}

.prod_status_wrap {
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    width: 80vw;
    height: auto;
    overflow: hidden;
}

.prod_status_wrap .area {
    overflow: hidden;
    margin-bottom: 10px;

}

.prod_status_wrap .area2 {
    border:1px solid #5c5c5c;
    border-radius: 5px;
    padding:40px 0;
    width: 79vw;

}
.prod_status_wrap .area1,
.prod_status_wrap .area4 {
    width: 79vw;

}

.prod_status_wrap .area .searchArea  {
    border-radius: 5px;
    border:1px solid #ccc;
    width: 340px;
    height: 40px;
    background-color: transparent;
    color:#fff;
    font-size: 22px;
    padding-left: 10px;

}


.prod_status_wrap .area1 .trackBox {
    padding-top: 5px;
    width: 320px;
    height: 60px;
    background-color: #ececec20;
    border-radius: 10px;
}

.prod_status_wrap .area1 .trackBox.active {
    background-color: var(--color7);

}

.prod_status_wrap .area1 .trackBox .lightImg {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.prod_status_wrap .area1 .trackBox .status {
    font-size: 20px;
    font-family: "Gmarket Sans";
    font-weight: 300;

}


.prod_status_wrap .area2 .left {
    width: 50%;

}

.prod_status_wrap .area2 .right {
    width: 50%;

}


.prod_status_wrap .area2 .element {
    margin-bottom: 10px;
}

.prod_status_wrap .area2 .title {
    width: 140px;
    margin-right: 20px;
    color:#ccc;
    text-wrap: nowrap;

}

.prod_status_wrap .inputType220 {
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #5c5c5c;
    color:#fff;
    background-color: transparent;
    width: 430px;
    overflow: hidden;
    min-height: 40px;
    line-height: 40px;
    height: auto;
    text-wrap: nowrap;
    /*overflow: hidden;*/

}

.prod_status_wrap .weight_tablevufb .btn60Type3 {
    font-size: 22px;
    color:#5c5c5c;
}

.prod_status_wrap .weight_tablevufb .btn60Type3.active {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;

}

.prod_status_wrap .weight_tablevufb th,
.prod_status_wrap .weight_tablevufb td {
    border:1px solid #5c5c5c;
}

.mainContentStaff .areaBoxStaff .btn60Type3 i {
    /*color:#000;*/
}

/*.prod_status_wrap .area3 .title {*/
/*    color: #ccc;*/
/*    width: 140px;*/
/*    margin-right: 20px; */
/*}*/

.prod_status_wrap .area2 textarea {
    border-radius: 5px;
    border:1px solid #5c5c5c;
    background-color: transparent;
    width: 440px;
    height: 120px;
    color:#fff;
    padding:5px;
    font-size: 18px;
    resize: none;

}

/* productionDetailStaff_View end -------------------------------- */
/* halfProductListStaff_View start -------------------------------- */

.half_list_wrap .btn_gray,
.half_list_wrap .btn_more {
    /*border-radius: 5px;*/
    /*border:1px solid #5c5c5c;*/
    /*background-color: transparent;*/
    width: 60px;
    height: 40px;
    /*color:#ccc;*/
}

/* halfProductListStaff_View end -------------------------------- */
/* pop_AddHalfProduct_View start -------------------------------- */

.add_half_wrap1 {
    /*display: none;*/
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
}

.add_half_con {
    border-radius: 20px;
    width: 80vw;
    height: 60vh;
    background-color: #2c2c2c;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}


.add_half_con .padding_area {
    width: 80vw;
    height: 60vh;
    position: relative;

}

.add_half_con .x_btn {
    position: absolute;
    top:20px;
    right: 30px;
    font-size: 22px;
}

.add_half_con .head_title {
    font-size: 22px;
    margin-top: 20px;
    /*margin: 20px 0 0 20px;*/

}

.add_half_con .area {
    margin-left: 20px;
    width: 77vw;
}

.add_half_con .area1 {
    margin: 10px 0 10px 20px;
}

.add_half_con .area1 table {
    width: 560px;
    border-collapse: collapse;
    border-bottom: 1px solid #5c5c5c;
}

.add_half_con .area1 table td{
    padding: 0 10px;
    height:32px;
    text-align: left;
    /*border-bottom: 1px solid #5c5c5c;*/
}

.add_half_con .area .area_mini {
    /*margin-top: 20px;*/
    height: 34vh;
    /*min-height: 240px;*/
    /*max-height: 560px;*/
}

.add_half_con .area .area_mini1 {
    width: 70%;
    height: 344px;
    overflow-y:hidden;
    overflow-x: hidden;
    max-height: 300px;
}

.add_half_con .area .area_mini2 {
    width: 30%;
    position: relative;
    overflow:hidden;
    height: 34vh;

}

.half_tbl_xk1 {
    margin-left: 2%;
    /*padding-left: 20px;*/
    border-collapse: collapse;
    width: 98%;
    overflow:hidden;
    height: 112px;
}

.half_tbl_xk1 th,
.half_tbl_xk1 td{
    font-weight: normal;
    border-bottom: 1px solid #5c5c5c;
    text-align: center;
    font-size: 18px;
}


.half_tbl_xk1 th {
    background-color: #1a1a1a;
    height: 32px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.half_tbl_xk1 td {
    padding: 10px 0;
    height: 60px;
}

.half_tbl_xk1 td .inputBorder {
    padding:5px;
    border: 1px solid #5c5c5c;
    background-color: transparent;
    width: 120px;
    height: 40px;
    color:#fff;
    font-size: 32px;
    text-align: center;

}


.tbl_acc {
    margin-top: 20px;
    margin-left: 2%;
    /*padding-left: 20px;*/
    border-collapse: collapse;
    width: 98%;
    overflow:hidden;
}


.tbl_acc th,
.tbl_acc td{
    font-weight: normal;
    border-bottom: 1px solid #5c5c5c;
    text-align: center;
    font-size: 18px;
}


.tbl_acc th {
    background-color: #00000040;
    height: 32px;
}

.tbl_acc td {
    height: 80px;
    padding: 10px;

}

.tbl_acc .inputBorder {
    border:1px solid #5c5c5c;
    background-color: transparent;
    width: 140px;
    height: 40px;
    font-size: 32px;
    color: #fff;

}

.tbl_acc button {
    /*font-size: 14px;*/
}

.add_half_con .area .area_mini2 .keypad {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 256px;
    height: 304px;
    overflow:hidden;
    /*min-height: 220px;*/
    /*max-height: 220px;*/
}


.add_half_con .area .area_mini2 .keypad .row {
    display: flex;
    gap: 8px;
}


.add_half_con .area .area_mini2 .keypad .btn_gray {
    flex: 1;
    font-size: 32px;
    width: 80px;
    height: 70px;
}

.add_half_con .area .area_mini2 .keypad i {
    /*color: #5c5c5c;*/
    font-size: 28px;

}

.add_half_con .padding_area .lastArea {
    margin-top: 40px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.add_half_con .btn_gray,
.add_half_con .btn_green {
    width: 60px;
    height:60px;

}



/* pop_AddHalfProduct_View end -------------------------------- */
/* pop_PrnLabel_View start -------------------------------- */

.prod_label_wrap {
    padding:20px;
}

.prod_label_wrap .prod_label_table {
    border-collapse: collapse;
    width: 720px;
    text-align: center;

}

.prod_label_wrap .prod_label_table svg {
    width: 220px;
    height: 60px;
}
.prod_label_wrap .prod_label_table .title {
    font-weight: 600;
}
.prod_label_wrap .prod_label_table th {
    border:1px solid #000;
    text-wrap: nowrap;
    font-size: 12px;
    padding: 0 10px;
}
.prod_label_wrap .prod_label_table td{
    padding: 0 10px;
    font-weight: normal;
    border:1px solid #000;
    height: 40px;
    overflow: hidden;

}

.prod_label_wrap .prod_label_table td.b_area{
    padding: 0;
    height: 80px;
}

.prod_label_wrap .prod_label_table th.title {
    width: 40%;
}

.prod_label_table td.data1,
.prod_label_table td.data2 {
    height: 25mm;

}

.prod_label_table td svg {
    width: 320px;
}

.prod_label_table .bar_wrap {
    width: 100%;

}

.prod_label_table .bar_box {
    width: 100%;
}

.prod_label_table .bar_box.left{
    border-right:  1px solid #000;

}

.prod_label_table .bar_box .title {
    height: 40px;
    line-height: 40px;
}

.prod_label_table .bar_box .title:first-child {
    border-bottom: 1px solid #000;
    /*border-right:  1px solid #000;*/
}

.prod_label_wrap .lastArea {
    padding: 20px 0;
    width: 720px;
}

/* pop_PrnLabel_View end -------------------------------- */
/* pop_PrnLabel2_View start -------------------------------- */

.prod_label_wrap2 .area {
    /*padding:20px;*/
}
.prod_label_table2 {
    margin: 20px;
    width:480px;
    border-collapse: collapse;

}

.prod_label_table2 th,
.prod_label_table2 td {
    font-weight: normal;
    border: 1px solid #000;
    text-align: center;
    padding: 0 10px;
    text-wrap: nowrap;
    height: 40px;

}

.prod_label_table2 svg {
    width: 220px;
}

.prod_label_wrap2 .lastArea {
    margin-left: 20px;
    width:480px;

}

/* pop_PrnLabel2_View end -------------------------------- */
/* btnType etc start -------------------------------- */

.mainContentStaff .btnType1 {
    border: 1px solid #5c5c5c;
    background-color: transparent;
    border-radius: 5px;
    min-width: 80px;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-wrap: nowrap;

}

.mainContentStaff .btn80Type1 {
    border: 1px solid #5c5c5c;
    background-color: transparent;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    /*padding: 0px 10px;*/
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-wrap: nowrap;

}

.mainContentStaff .btn80Type2 {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    /*padding: 0px 10px;*/
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;

}


.mainContentStaff .btn80Type3 {
    border: 1px solid var(--gradient3);
    background-image: var(--gradient3);
    color:#000;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    /*padding: 0px 10px;*/
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;

}


.mainContentStaff .btn80Type3.active {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;

}

.mainContentStaff .btnType60 {
    border: 1px solid #5c5c5c;
    background-color: transparent;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-wrap: nowrap;

}

.mainContentStaff .btn60Type1 {
    border: 1px solid #5c5c5c;
    background-color: transparent;
    color:#fff;
    border-radius: 5px;
    margin: 10px 0;
    width: 60px;
    height: 60px;
    /*padding: 0px 10px;*/
    font-size: 22px;
    text-align: center;
    text-wrap: nowrap;

}
.mainContentStaff .btn60Type2 {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    margin: 10px 0;
    width: 60px;
    height: 60px;
    /*padding: 0px 10px;*/
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;

}

.btn60Type3,
.mainContentStaff .btn60Type3 {
    border: 1px solid var(--gradient3);
    background-image: var(--gradient3);
    color:#000;
    border-radius: 5px;
    margin: 10px 0;
    width: 60px;
    height: 60px;
    /*padding: 0px 10px;*/
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;

}

.mainContentStaff .btn60Type3.active {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;

}

.btn_gray,
.mainContentStaff .btn_gray {
    border: 1px solid var(--gradient3);
    background-image: var(--gradient3);
    color:#000;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;

}

.btn_gray.active,
.btn_green,
.mainContentStaff .btn_green {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;

}
.mainContentStaff .btn_long {
    border: 1px solid var(--gradient3);
    background-image: var(--gradient3);
    color:#000;
    border-radius: 5px;
    margin: 10px 0;
    width: 120px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;



}


/* flexType1 -------------------------------- */


.hidden {
    display: none;
}


.underline {
    text-decoration: underline;
}


.underline2 {
    text-decoration: underline;
    cursor: pointer;
}

.fontType1 {
    font-family: "Gmarket Sans";
}

.fontType2 {
    font-family:"Noto Sans";
}

.fontType3 {
    font-size: 14px;
    color: #5c5c5c;
}

.fontType4 {
    font-size: 18px;
    color: var(--color4);
    font-weight: 500;
}

.fs14 {
    font-size: 14px;
}

.tww {
    text-wrap: wrap;
}

.flexType1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType2-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType3-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType5 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}


.flexType5-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType5-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.flexCol {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexCol2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.red {
    color:red;
}

.org {
    color:orange;
}

.yel {
    color:yellow;
}

.bn {
    border:none;
}

.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.pr20 {
    padding-right: 20px;
}

.mr10vw {
    margin-right: 5vw;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.p20 {
    padding: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.pb100 {
    padding-bottom: 100px;
}

.borderRed {
    border:1px solid red;
}

.btnType1 {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    min-width: 80px;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0px 24px;
    font-size: 16px;
    text-align: center;
    color:#303030;
    text-wrap: nowrap;

}

.btnType2 {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    min-width: 80px;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0px 24px;
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;

}


.btnType3 {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color:#303030;
    text-wrap: nowrap;
}

.btnType4{
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.squareType {
    border: none;
    background-image: var(--main-gradient);
    border-radius: 10px;
    font-size: 22px;
    width: 44px;
    height: 44px;
    text-align: center;
    position: relative;
    color:#fff;
}

.squareType2 {
    border: none;
    background-image: var(--gradient3);
    color:#fff;
    font-size: 22px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    text-align: center;
    position: relative;
}


.inputType160 {
    border: 1px solid #ccc;
    background-color: #fff;
    min-width: 160px;
    width: 160px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;

}

.inputBorder {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.must {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: red;
}

.notmust {
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.inputType {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    padding:0 5px;

}

.inputType2 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    padding:0 5px;

}

.inputType360 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    min-width: 360px;
    width: 360px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding:0 5px;

}

.inputType520 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    min-width: 160px;
    width: 520px;
    height: 44px;
    /*line-height: 44px;*/
    font-size: 14px;
    padding-left: 10px;

}


@media print {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .prn_inner {
        /*padding-top: 3mm;*/
        margin-top: 5mm;
        margin-left: 7mm;
        width: 190mm;
        height: 90mm;
        overflow: hidden;
        text-wrap: nowrap;
        border-top: 1px solid #000;
        border-left: 1px solid #000;

    }
    .prod_label_table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        text-align: center;
        font-size: 18px;
        overflow: hidden;
        text-wrap: nowrap;
        border:none;

    }

    .prod_label_table tr {
        height: 10mm;
    }

    .prod_label_table tr.b_tr {
        height: 30mm;
    }

    .prod_label_table th,
    .prod_label_table td {
        border-right: 1px solid #000;
        border-bottom:1px solid #000;
        padding: 0 10px;

    }

    .prod_label_table th:last-child,
    .prod_label_table td:last-child {
        /*border-bottom:none;*/

    }
    .prod_label_table th {
        width: 40mm;
        height: 10mm;
        font-size: 16px;
    }
    .prod_label_table td {
        width: 150mm;
        height: 10mm;
        /*text-align: left;*/
    }

    .prod_label_table td.b_area  {
        /*padding: 0;*/
        /*padding: 0 !important;*/
        /*margin: 0 !important;*/
        height: 30mm !important;
        position: relative;
        /*border-right: none;*/

    }

    .prod_label_table td {
        border-right: 1px solid black;
    }

    .prod_label_table .b_area .bar_wrap {
        position: absolute;
        top:0;
        left:0;
        width: 190mm ;
        height: 34mm;
        text-align: center;


    }

    .prod_label_table .bar_box {
        /*height: 30mm;*/
        padding: 0;
        margin: 0;
        /*width: 50%;*/
        height: 34mm;
        position: relative;
        overflow: hidden;
        /*border:1px solid #000;*/
    }

    .prod_label_table .bar_box .title {
        font-weight: 600;
        height: 10mm;
        line-height: 10mm;
        /*height: 10mm;*/
    }

    .prod_label_table .bar_box svg {
        margin-top: -7mm;
        scale: 68%;
        /*overflow: hidden;*/
        /*height: 26mm;*/
    }



}