* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Noto Sans";

}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
i {
    cursor: pointer;
}

.t{
    transform: translateX();
}

:root {
    --color1: #6FFF74;
    --color2: #19CD1F;
    --color3: #43B747;
    --color4: #42b983;
    --color5: #42b98341;
    --babyColor1:#b0ddc241;
    --bgColor1: #F9F9F9;
    --bgColor2: #F3F3F3;
    --main-gradient: linear-gradient(
            to bottom right,
            #6FFF74 10%,
            #19CD1F 70%
    );
    --gradient2: linear-gradient(
            to bottom right,
            #65f16a 10%,
            #3ae041 70%
    );
    --gradient3: linear-gradient(
            to bottom right,
            #ececec 10%,
            #ccc 70%
    );
}

::selection {
    background-color: #b0ddc2; /* 드래그 배경색 */
    color: #000; /* 드래그된 텍스트 색상 */
}

input[type="checkbox"] {
    accent-color: #24c22b; /* 체크 표시 색상 (예: 토마토색) */
    color:#fff;
}

/* header -------------------------------- */



.headerwrap {
    /*border:1px solid red;*/
    border-bottom: 1px solid #ececec;
    width: 98vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 60px 20px 60px; 

}

.headerwrap .logoImg {
    cursor: pointer;
}

.headerBox {
    margin: 0 auto;
    width: 1050px;

}


.headerwrap .loginBox .text {
    color:#1c1c1c;
    width: 120px;
    text-align: center;
    font-family: "Gmarket Sans";
}


.headerwrap .loginBox .text2 {
    border-left: 1px solid #ccc;
}

.footWrap {
    margin: 0 auto;
    width: 1050px;
    height: 160px;
    text-align: center;

}


.grayFoot {
    border:1px solid red;
    width: 1050px;
    height: 200px;
    text-align: center;
    /*position: absolute;*/
    /*left:50%;*/
    /*transform: translateX(-50%);*/
    /*bottom: 0;*/
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-680px;
    z-index: 0;
    background-color: var(--bgColor2);
}


.grayFoot .termsBox,
.footWrap .termsBox {
    height: 80px;

}


.grayFoot .add,
.grayFoot .termsBox .terms,
.footWrap .add,
.footWrap .termsBox .terms {
    width: auto;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color:#5c5c5c;

}


.grayFoot .add,
.footWrap .add {
    padding-top: 60px;
}

.grayFoot .termsBox .terms,
.footWrap .termsBox .terms {
    padding: 0 10px;
}


.grayFoot .termsBox .border,
.footWrap .termsBox .border {
    height: 12px;
    border-right: 1px solid #ccc;
}

.footBox {
    height: 60px;
}

.footBox  img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.footBox .copyright {
    margin-left: 40px;
    font-size: 14px;
    color:#5c5c5c;
}



/* leftBox -------------------------------- */

.workpageWrap {
    width: 100vw;
    height: 100vh;

}


.leftWrap {
    min-width: 220px;
    width: 220px;
    overflow: hidden;
    background-color: var(--bgColor1);
}

.rightWrap {
    /*flex-grow: 1;*/
    /*padding-bottom: 100vh;*/
    padding-bottom: 100px;
    width: 100%;
    background-color: var(--bgColor2);
    position: relative;
}
.leftWrap,
.rightWrap {
    min-height: 140vh;
    height: auto;
    padding-bottom: 100px;

}

.searchBox1 {
    padding: 20px 0;
    width: 200px;
    height: 100px;
}

.searchBox1 select {
    border:none;
    background-color: transparent;
    border-radius: 5px;
    width: 160px;
    height: 32px;
    margin-left: 20px;

}
.searchBox1-1 {
    position: relative;
    margin: 0 auto;
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 160px;
    height: 32px;
}


.searchBox1-1 input{
    margin-left: 0;
    border:none;
    background-color: transparent;
    width: 130px;
    height: 32px;
}

.searchBox1-1 input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}


.searchBox1-1 i {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
    color:#7c7c7c;
    font-size: 16px;
}

.menuWrap {
    width: 200px;
    height: 120vh;
}
.menuBox .topmenu {
    /*width:160px;*/
    padding: 0px 20px;

}
.menuBox .topText {
    width:100px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-family: "Gmarket Sans";
}

.topmenu i {
    color:#7c7c7c;
}

.hidden {
    display: none;

}

.submenu {
    display: none;
}

.submenu .subtext {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0px 20px;
    color:#7c7c7c;
}

/* 로그인 페이지 -------------------------------- */

.login {
    width: 380px;
    height: 750px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.login .title {
    margin-top: 100px;
    height: 200px;
    line-height: 200px;
    font-family: "Gmarket Sans";
    font-size: 22px;
}

.login .inputcon input {
    border:1px solid #ececec;
    width: 380px;
    height: 50px;
    margin-bottom: 10px;
}

.login button {
    width: 380px;
    height: 50px;
    /*background-color: #42b983;*/
    color:#fff;
    font-size: 18px;
    font-family: "Gmarket Sans";
    border:none;
    border-radius: 5px;
    background-image: var(--main-gradient);
}


.login .autoLogin .checkType{
    width:160px;
    height: 50px;
}


.login .autoLogin .checkType > *{
    margin-left: 10px;
}
/*.login > p {*/
/*    width: 380px;*/
/*    height: 60px;*/
/*    font-size: 22px;*/
/*    font-weight: bold;*/
/*    margin-top: 60px;*/
/*    margin-bottom: 60px;*/
/*}*/

/* merright -------------------------------- */


.order_box28f .swich_boxli6,
.dashBoard_boxowy .swich_boxli6 {
    margin-top: 20px;
    margin-left: 20px;
    width: 78vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

.deli_wrapghj .swich_boxli6 {
    width: 78vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;

}


.order_box28f .swich_boxli6 {
    margin-top: 0;
    margin-bottom: 20px;
}



.order_box28f .status {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Gmarket Sans";
    margin-bottom: 10px;
}


.deli_wrapghj .status {
    margin-left: 40px;
    font-family: "Gmarket Sans";
    color:#5c5c5c;

}

 .swich_boxli6 i{
    margin-left: 20px;

}
 .swich_boxli6 .binder{
    border-left: 2px solid #000;
    width: 5px;
    height: 18px;
    margin-left: 20px;
}

/* deliInfo -------------------------------- */


/* calendar -------------------------------- */


#calendar {
    margin: 0 !important;
    margin-top: 60px !important;
    margin-left: 20px !important;
    padding: 0;
    max-width: 90% !important;
    max-height: 720px;
}

/*달력 안에 today*/
#calendar .fc-day-today {
    background-color: var(--babyColor1) !important;
    color: black !important;
}

.fc-daygrid-day {
    min-height: 80px; !important;/* 원하는 px로 고정 */
}

/* 기본 버튼 prev, next, today 색상 변경 */
.fc-header-toolbar .fc-prev-button,
.fc-header-toolbar .fc-next-button,
.fc-header-toolbar .fc-today-button {
    margin: 0 !important;
    padding: 0 !important;
    border:none !important;
    width: 50px;
    height: 32px;
    line-height: 32px;
    background-color: #ccc !important;  /* 연노랑 계열 배경색 */
    color: #000 !important;               /* 글씨색 */
}

.fc-header-toolbar .fc-next-button {
    margin-right: 10px !important;

}

.fc-header-toolbar .fc-today-button {
    background-color: #ccc !important;
    color: #000 !important;
    width: auto;
    padding: 0 20px !important;
}


.fc-event.fc-event-selected,
.fc-event:focus {
    border: none !important;
    box-shadow: none !important;
}


/* linkMalls -------------------------------- */

.titleBox .headTitle {
    padding: 40px 0 20px 30px ;
    font-family: "Gmarket Sans";
    font-size: 22px;
    font-weight: 500;
}

.areaBox {
    border:1px solid #ccc;
    border-radius: 10px;
    width: 80vw;
    /*width: 1400px;*/
    height: auto;
    padding: 10px 0;
    margin-left: 20px;
    background-color: #fff;
    overflow: hidden;

}

.lastBox {
    width: 80vw;
    height: auto;
    padding: 20px 0;
    margin-left: 20px;
    overflow: hidden;
    /*position: fixed;*/
    /*right:5vw;*/

}


/*.dashBoard_boxowy .areaBox .area5,*/
/*.dashBoard_boxowy .areaBox .area3,*/
/*.dashBoard_boxowy .areaBox .area2,*/
/*.dashBoard_boxowy .areaBox .area1,*/

/*.link_wrap5r6 .areaBox .area5,*/
/*.link_wrap5r6 .areaBox .area3,*/
/*.link_wrap5r6 .areaBox .area2,*/
/*.link_wrap5r6 .areaBox .area1,*/

/*.order_box28f .areaBox .area5,*/
/*.order_box28f .areaBox .area3,*/
/*.order_box28f .areaBox .area2,*/
/*.order_box28f .areaBox .area1,*/

/*.deli_wrapghj .areaBox .area5,*/
/*.deli_wrapghj .areaBox .area3,*/
/*.deli_wrapghj .areaBox .area2,*/
/*.deli_wrapghj .areaBox .area1{*/

 .areaBox .area5,
 .areaBox .area3,
 .areaBox .area2,
 .areaBox .area1 {
    padding: 10px 10px 10px 20px;

}

.order_box28f .areaBox .area4 {
    border:1px solid #ccc;
    /*padding:0 20px;*/
    margin: 20px 20px 0 20px;
    overflow: hidden;
}


.areaBox .area2 .title,
.areaBox .area1 .title {
    min-width: 100px;
    width: 100px;
}

.areaBox .area1 .period {
    border:1px solid #ccc;
    background-color: #fff;
    min-width: 100px;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color:#303030;
}


.areaBox .area2 .searchFilter,
.areaBox .area2 .searchArea {
    border:1px solid #ccc;
    width: 160px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    font-size: 14px;
    color:#303030;
}

.areaBox .area2 .searchArea {
    width: 220px;
}

.areaBox .area1 .period:nth-child(2),
.areaBox .area1 .period:nth-child(3),
.areaBox .area1 .period:nth-child(4){
    border-right: none;
}

.areaBox .area2 .right,
.areaBox .area1 .right {
    margin-right: 20px;
    min-width: 240px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.link_wrap5r6 .area3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.areaBox .area1 .right {
    flex-wrap: nowrap;
}


.areaBox .area1 .right .btnType1{
    flex-shrink: 1;
}

.areaBox .area4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}


.areaBox .area4 .order_boxfxp {

    /*border-right: 3px solid #ccc;*/
    /*border:2px solid red;*/
    /*width: 640px;*/
    /*overflow: hidden;*/
}



.areaBox .area4 .order_boxe4z {
    width: auto;
    overflow-x: scroll;
}

.order_boxe4z .ltThead {
    text-wrap: nowrap;
    padding: 0 10px;
}

.goods_boxkfg {
    width: 77vw;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.goods_boxkfg .left {
    font-family: "Gmarket Sans";
}

.goods_boxkfg .title {
    margin-right: 20px;
}

.goods_boxkfg .count {
    margin-right: 10px;
    font-size: 22px;
    color: var(--color3);
    font-weight: bold;
}

.goods_boxa1b {
    /*border:1px solid #ccc;*/
    margin: 0 20px;
    overflow: hidden;
}


.areaBox .area4 .orderInfoTable {
    border:1px solid #ccc;
    border-collapse: collapse;
    color:#303030;
}

.link_wrap5r6 .area3 {
    margin-right: 20px;
}

.areaBox .area4 .linkMallsTable,
.deliInfoTable {
    border:1px solid #ccc;
    border-collapse: collapse;
    color:#303030;
    width: 77vw;

}

.linkMallsTable .col1,
.linkMallsTable .col2 {
    width: 40px;
}


.areaBox .area4 .linkMallsTable td {
    overflow: hidden;
    border:1px solid #ccc;
    height: 32px;
    line-height: 32px;
    max-height: 32px;
    text-align: center;

}

.deliInfoTable {
    margin-top: 20px;
}

.link_wrap5r6 .area4,
.deli_wrapghj .area4 {
    width: 77vw;
    overflow-x: hidden;
    margin-left: 20px;
}

.deli_wrapghj .titleBox {
    width: 80vw;
}

.deli_wrapghj .deli_box2w9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.deli_wrapghj .deli_box2w9 .status {
    width: 620px;
    margin-left: 30px;
}


.areaBox .area4 .orderInfoTable1 {
}

.areaBox .area4 .orderInfoTable2 {
    height: auto;
    overflow-x: scroll;
    padding-bottom: 10px;
}


.deliInfoTable td,
.areaBox .area4 .orderInfoTable td {
    min-width: 100px;
    max-height: 32px;
    overflow: hidden;
    border:1px solid #ccc;
    width: auto;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.deliInfoTable td:first-child{
    min-width: 40px;
    width: 40px;
}

.linkMallsTable .negative,
.linkMallsTable .positive {
    margin: 0 auto;
    border-radius: 5px;
    width: 40px;
    min-width: 40px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}



.linkMallsTable .positive {
    background-color: #6FFF74;
}

.linkMallsTable .negative {
    background-color: #FF6F6F;
    color:#fff;
}


.areaBox .area4 .orderInfoTable1 td:first-child {
    min-width: 40px;
    width: 40px;
}

.deliInfoTable thead .ltThead,
.linkMallsTable thead .ltThead,
.areaBox .area4 .orderInfoTable thead .ltThead {
    background-color: #ececec81;
}

.areaBox .area4 .orderInfoTable2 thead .ltThead{
    min-width: 120px;
    width: 140px;

}


.areaBox .area4 .orderInfoTable thead td {
    height: 32px;
    max-height: 32px;
    padding: 0 10px;
}


.areaBox .area5 {
    padding: 0 20px;
}

.order_box28f .areaBox .area5 .countBox{
    width: 77vw;
    /*height: 160px;*/
}

.order_box28f .areaBox .area5 .count{
    padding: 5px 0;

}

.order_box28f .area1,
.order_box28f .area2 {
    margin-left: 10px;
}

.areaBox .area5 .number{
    font-size: 18px;
    text-align: right;
    font-family: "Gmarket Sans";
    font-weight: 500;

}


/* producingStatus start -------------------------------- */

.pro_tablefz7c .statusBtn {
    /*padding: 0 10px;*/
    color:#6c6c6c;
    width: 80px;
}


.pro_tablefz7c .statusStandby {
    color:#000;
    width: 80px;
}

/* producingStatus end -------------------------------- */
/* date picker -------------------------------- */
.date_boxtc6 > *{
    margin-right: 20px;
}


.date_boxtc6 {
    margin-left: 20px;

}

.date_boxtc6 .dateLabel1,
.date_boxtc6 .dateLabel2 {
    position: relative;
}

.date_boxtc6 i {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10px;
    color:#7c7c7c;
}



.date_boxtc6 .inputType160{
    padding-left: 40px;

}



/* dashboard -------------------------------- */

#calendar {
    max-width: 900px;
    margin: 40px auto;
}

.statusBox {
    margin-left: 20px;
    /*width: 1200px;*/
}

.statusBox .status {
    margin-top: 20px;
    margin-right: 20px;
    border:1px solid #ccc;
    border-radius: 10px;
    width: 22%;
    min-width: 240px;
    height: 180px;
    background-color: #fff;
}

.statusBox .status .upside{
    border-bottom: 1px solid #ccc;
    height: 40px;

}

.statusBox .status .aside{
    padding: 0 20px;
}


.statusBox .status .downside{
    margin-top: 10px;

}

.statusBox .status .aside .flexType3{
    height: 28px;

}

.statusBox .status .now{
    color:#5c5c5c;

}

.statusBox .status .category{
    font-family: "Gmarket Sans";
}

.statusBox .status .right{
    font-size: 14px;
    color:#7c7c7c;
}

.statusBox .status .right .count{
    font-size: 22px;
    font-weight: bold;
    color:#3c3c3c;
    margin-right: 10px;
}

/* packing Info -------------------------------- */

.packing_wraptrf .titleBox {
    margin-bottom: 20px;
}

.packing_wraph1c .titleBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.packing_wraph1c .areaBox,
.packing_wraph1c .areaBox {
    overflow: hidden;
}

.packing_wraptrf .area,
.packing_wraph1c .area1 {
    /*padding: 0;*/
    /*margin: 0;*/
    border-bottom: 1px solid #ccc;
}


.packing_wraptrf .area:last-child {
    border-bottom: none;
}

.packing_wraph1c .area1 .innerBox {
    width: 320px;
    margin-bottom: 20px;

}



.packing_wraptrf .area .title {
    margin-top: 10px;
    font-family: "Gmarket Sans";
    font-size: 18px;
    width: 220px;
}

.packing_wraptrf .area5 .title {
    margin-top: 0;
    font-family: "Gmarket Sans";
    font-size: 18px;
    width: 120px;
}

.packing_wraph1c .area .title {
    margin-top: 20px;
    font-family: "Gmarket Sans";
    font-size: 18px;
    width: 220px;
}

.packing_wraph1c .area5 .count {
    margin-bottom: 10px;
}

.packing_wraph1c .area5 .countBox .title{
    width: 120px;
    margin-right: 20px;
}

.packing_boxfxp {
    padding: 0 20px;
}

.packing_boxfxp table{
    width: 100%;
    border:1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.packing_boxfxp table td{
    height: 32px;
    min-height: 32px;
    border:1px solid #ccc;
    text-align: center;
}

.packing_boxfxp .hoverGreen:hover {
    color:var(--color4);
}

.progress_boxatq {
    margin: 20px 0;
}

.progress_boxatq .progress{
    padding: 0 20px;
}

.progress_boxatq .progress .status{
    text-wrap: nowrap;
}

.progress_boxatq .squareType2,
.progress_boxatq .squareType{
    margin-bottom: 10px;

}

.progress_boxatq .squareType i{
    font-size: 22px;
    color:#fff;
}

.progress_boxatq .angle {
    padding: 0 20px;
}

.progress_boxatq .angle i {
    font-size: 22px;
    color:#ccc;
}

.packing_wraptrf .area5 .right {
    text-wrap: nowrap;
    margin-top: 20px;
    margin-right: 40px;
}


/* packingStatus -------------------------------- */

.productCheck_boxarv {
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    margin: 20px 0 20px 20px;
}

.productCheck_boxarv .productCheck {
    /*padding: 5px 0;*/
}

.productCheck_boxarv .category {
    width: 100px;
    margin-right: 20px;
}

.imgBox_box2ck {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;

}

.imgBox_boxdzu > *,
.imgBox_box2ck > * {
    margin-right: 20px;
}


.imgBox_box2ck .noirBox {
    width: 100px;
    height: 120px;
    overflow: hidden;

}

.imgBox_box2ck .noirLayer {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: relative;
}

.imgBox_box2ck .noir {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: 30;
    background-color: #00000061;
}


.imgBox_box2ck .noirBox .ttl {
    width: 90px;
    font-size: 14px;
    margin-left: 5px;
    text-wrap: nowrap;
    overflow: hidden;
}

.imgBox_boxdzu {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

}

.imgBox_box2ck img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top:0;
    left:0;
    z-index: 20;
}

.imgBox_box2ck .countBox {
    width: 100px;
    height: 120px;
    overflow: hidden;

}

.imgBox_box2ck .count {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border:1px solid #ccc;
    text-align: center;
    line-height: 100px;
    font-size: 22px;

}

.imgBox_box2ck .btnBox  {
    width: 100px;
    height: 120px;
    overflow: hidden;

}

.imgBox_box2ck .btnBox .btn  {
    border:none;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 22px;
    background-image: var(--gradient3);

}

.imgBox_boxdzu .btn  {
    border:none;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 22px;
    background-image: var(--gradient3);

}

.imgBox_boxdzu .planeLayer {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: relative;

}
.imgBox_boxdzu .dashedLayer {
    border-radius: 10px;
    border:1px dashed #ccc;
    width: 100px;
    height: 100px;
    position: relative;
}


.imgBox_boxdzu .dashedLayer img,
.imgBox_boxdzu .planeLayer img {
    border-radius: 10px;
    width: 100px;
    height: 100px;


}

.imgBox_boxdzu .dashedLayer .inputArea {
    color:#ccc;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}


.imgBox_boxdzu .planeLayer .closeBtn {
    border:none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: #00000041;
    position: absolute;
    top:8px;
    right:8px;
}

.imgBox_boxdzu .closeBtn i {
    color:#fff;
}

/* goods List -------------------------------- */


.area_boxd2s .progress {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.area_boxd2s .progress .right {
    margin-left: 20px;
    color:#5c5c5c;
}

.area_boxd2s .progress .count {
    color:#000;
    font-size: 22px;
    margin-right: 20px;
    font-weight: 500;
    /*font-size: ;*/
}

.area_boxmxh {
    margin-top: 20px;
}

/* sangControl start -------------------------------- */



/* sangControl end -------------------------------- */
/* sangDetail start -------------------------------- */

/*progress brackground */

.prog_boxo6r {
    margin-left: 90px;
    width: 220px;
    height: 80px;

}

.prog_boxo6r .prog_Box {
    position: relative;
    z-index: 30;
    width: 200px;
    height: 30px;
}

.prog_boxo6r .status_boxi3f {
    margin-left: -10px;
    margin-bottom: 10px;
    width: 220px;
    height: 30px;

}

.prog_boxo6r .prog_background {
    border-top: 10px solid #ececec;
    width: 200px;
    height: 30px;
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
}

.prog_boxo6r .prog_background .stanbyBox {
    border-radius: 50%;
    position:absolute;
    top: -16px;
    left: -10px;
    width: 24px;
    height: 24px;
    background-color: var(--color1);
    z-index: 52;

}

.prog_boxo6r .prog_background .stanbyBox .stanby {
    /*font-size: 14px;*/
    border:3px solid #fff;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    z-index: 55;

}

.prog_boxo6r .prog_background .stanbyBox2 {
    border-radius: 50%;
    position:absolute;
    top: -16px;
    right: -10px;
    width: 24px;
    height: 24px;
    background-color: #ececec;
    z-index: 51;

}

.prog_boxo6r .prog_background .stanbyBox2 .stanby2 {
    /*font-size: 14px;*/
    border:3px solid #fff;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    z-index: 55;

}

/* -- prog_now > prog1 start */
/*progress brackground */
.prog_boxo6r .prog_now {
    display: none;
    border-top: 10px solid var(--color1);
    width: 200px;
    height: 30px;
    position: absolute;
    top:0;
    left:0;
    z-index: 60;
}

/*--*/


.prog_boxo6r .prog_now .stanbyBox {
    border-radius: 50%;
    position:absolute;
    top: -16px;
    left: -10px;
    width: 24px;
    height: 24px;
    background-color: var(--color1);
    z-index: 52;

}

.prog_boxo6r .prog_now .stanbyBox .stanby {
    /*font-size: 14px;*/
    border:3px solid #fff;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    z-index: 55;

}

.prog_boxo6r .prog_now .stanbyBox2 {
    border-radius: 50%;
    position:absolute;
    top: -16px;
    right: -10px;
    width: 24px;
    height: 24px;
    background-color: var(--color1);
    z-index: 51;

}

.prog_boxo6r .prog_now .stanbyBox2 .stanby2 {
    /*font-size: 14px;*/
    border:3px solid #fff;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    z-index: 55;

}

/* -- prog_now > prog1 end */
/* sangDetail end -------------------------------- */

/* goods Register start -------------------------------- */

.area_boxm9k {
    margin-bottom: 20px;
}

.area_boxm9k .outerBox {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #ccc;
}

.area_boxm9k .title {
    font-size: 18px;
}

.area_boxm9k .title2 {
    font-size: 14px;
    color:#5c5c5c;;
}

.area_boxm9k .right {
    border:1px solid #ccc;
    border-radius: 5px;
    width: 32px;
    height: 32px;
}
.area_boxm9k .right i {
    color:#ccc;
}

.area_boxm9k .copySelect {
    border:1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0 0 20px;
    width: 60vw;
    height: 44px;
    color:#ccc;
    padding: 0 20px;
    font-size: 16px;
}

/* goods Register ---*/

.area_box2qd .elementBox {
    margin-top: 20px;
}
.area_box2qd .element {
    padding-bottom:10px;
}


.area_box2qd .element .notmust,
.area_box2qd .element .must {
    margin-right: 20px;
}

.area_box2qd .element .title {
    width: 140px;
    margin-right: 20px;
    font-size: 16px;
}

.area_box2qd .element .inputType360 {
    margin-right: 20px;
    font-size: 14px;
}

.area_box2qd .element .unit {
    font-size: 14px;

}

.area_box2qd .element .inputType {
    font-size: 14px;
    width: 200px;
    height: 32px;
    margin-right: 20px;

}

.area_box2qd .element .selectType {
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 140px;
    height: 32px;
    margin-right: 20px;

}

.area_box2qd .element .mached:first-child {
    margin-top: 10px;
}

.area_box2qd .element .mached {
    border-radius: 20px;
    background-color: #ececec81;
    width: 370px;
    height: 28px;
    font-size: 12px;
    padding: 5px 0 5px 10px;
    margin-bottom: 4px;

}

.mach_boxd2g {

}


.area_box2qd .element .mached .code{
    width: 200px;
    margin-right: 20px;
}
.area_box2qd .element .mached .market{
    width: 110px;
    margin-right: 10px;
}

.goods_boxt6r {
    margin: 0;
}


/* 제품추가>공정입력>공정명 start - --- */

.el_boxc8s {

}
.el_boxc8s .el {
    margin-bottom: 10px;
}

.el_boxc8s .must {
    margin-right: 20px;
}

.el_boxc8s .title {
    width: 80px;
    margin-right: 20px;
}

.cover_boxh1t {
    margin-bottom: 10px;
}
.cover_boxh1t .must {
    margin-right: 20px;
}

.cover_boxh1t .ttl {
    width: 80px;
    margin-right: 20px;
}

.cover_boxh1t .addBtn {
    margin: 0;
    border-radius: 5px;
    border:1px solid #ececec;
    width: 80px;
    height: 26px;
    text-wrap: nowrap;

}

/* 제품추가 - --- */
.goods_boxj3v {
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
}


/*attach_boxp5s srart*/

.attach_boxw0f,
.attach_boxp5s  {
    margin-top: 40px;

}

 .thum_boxn4e .photo-picker{
    /*margin-top: 40px;*/
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5c5c;
}

 .thum_boxn4e input{
    display: none;
}

 .thum_boxn4e i{
    /*position: absolute;*/
    /*top:;*/
    /*left:0;*/
    color:#5c5c5c;
    /*margin-top: 20px;*/
}

 .attach_boxp5s .thumBox {
     border:1px solid #ccc;
     border-radius: 5px;
     width: 60px;
     height: 60px;
     overflow: hidden;
     position: relative;

 }

.attach_boxp5s .thumBox .addedImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.disNone {
    display: none;
}

.disBlock {
    display: block;
}

.thum_arange .delete-btn {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    position: absolute;
    top:4px;
    right: 3px;
    background-color: #00000081;
    color:#fff;

}

.thumBox .delete-btn {
    /*width: 14px;*/
    /*height: 14px;*/
    /*font-size: 10px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*top:4px;*/
    /*right: 4px;*/
    /*background-color: #00000081;*/
    /*color:#fff;*/

}

/* attach_boxp5s end*/


/* ck-editor start -------------------------------- */

.infodetail {
    width: 520px;
    height: 260px;
    /*overflow: hidden;*/
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    /*box-sizing: border-box;*/
}

.infockeditor .ck.ck-toolbar{
    position: sticky;
    top: 0;
    left:0;
    z-index: 10;
    background: #fff;

    width: 520px;
    max-height: 200px;
    box-sizing: border-box;
}
.ck-editor__editable {
    position: absolute;
    top:36px;
    left:0px;
    width: 520px;
    height: 220px;
    min-height: 220px;
    max-height: 220px;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    /*overflow-y: visible, hidden, clip, scroll, auto, */
}

.ck-caption {
    display: none !important;
}


.main-container,
.editor-container,
.editor-container__editor {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ck.ck-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ck.ck-toolbar {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
}

.ck-editor__main {
    flex: 1 1 0;
    overflow-y: auto;
    min-height: 0;
}

/* ck-editor end -------------------------------- */

/* productsList start -------------------------------- */

.products_boxa1b .products_boxfxp .orderProduct{
    padding: 0 10px;
}

.products_boxa1b .products_boxfxp .goodsName:hover{
    /*text-decoration: underline;*/
    color: var(--color4);
    cursor: pointer;
}

.atom_boxa1b,
.products_boxa1b {
    padding: 0 20px;

}

.products_boxa1b .orderInfoTable1,
.produce_boxfxp .orderInfoTable1,
.atom_boxa1b .orderInfoTable1 {
    width: 77vw;
    text-wrap: nowrap;
}

.order_box28f .orderInfoTable1 .status10:hover{
    font-weight: 500;
    color: var(--color4);


}

.products_boxfxp .countInput {
    border:1px solid #ccc;
    border-radius: 2px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100px;
    height: 24px;

}

.products_boxfxp .submitBtn1 {
    border:1px solid #ccc;
    border-radius: 2px;
    color:#5c5c5c;
    background-color: transparent;
    width: 40px;
    height: 24px;


}

/* productsList end -------------------------------- */
/* productsRegister start -------------------------------- */

.products_boxc6m .element{
    width: 720px;
}

.products_boxc7m {
    border:1px solid #ececec;
    width: 720px;
    height: auto;
    padding:10px;
    /*background-color: #ececec41;*/
    border-radius: 10px;
    position: relative;

}

.products_boxc7m .element2 {
    margin-top: 20px;
}

.products_boxc7m .element{
    width: 580px;
    margin-left: 40px;
}

.inputIng_boxn7g,
.outputIng_boxh4z {
    border-radius: 5px;
    background-color: #ececec40;
    margin-left: 120px;
    width: 370px;
    padding:10px;
    margin-bottom: 10px;
}

.inputIng_boxn7g .qoute,
.outputIng_boxh4z .qoute {
    width: 10px;
    height: 18px;
    border-right: 4px solid #ccc;
    margin-right: 10px;

}

.inputIng_boxn7g .element .title,
.outputIng_boxh4z .element .title {
    width:90px;
    font-size: 14px;
    margin: 0;
    margin-right: 20px;
}

.inputIng_boxn7g .inputData,
.outputIng_boxh4z .inputData {
    border-radius: 5px;
    border:1px solid #ececec;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}

.products_boxc7m .removeRoasting  {
    position: absolute;
    top:10px;
    right:10px;
    font-size: 18px;
}



.selectMetirialBox  {
    margin: 10px 0;
}

.products_boxc6m .inputBorder {
    width: 120px;
    height: 32px;
}


.products_boxc6m .inputBorder2 {
    width: 230px;
}

.products_boxc6m .removeBtn {
    /*margin: 0;*/
    padding: 0;
    width: 40px;
    height: 32px;
    text-align: center;
    background-color: transparent;
}

.products_boxc6m .addBox {
    margin-left: 20px;
}

.mati_boxm9k .area5 .btnType3 {
    padding: 0 10px;
    height:32px;
}

/* productsRegister end -------------------------------- */
/* productsAfterRegister start -------------------------------- */


.proc_boxf9n .roasting_boxp9x {
    width: 720px;
    height: auto;
    position: relative;
    padding-bottom: 20px;
}

.proc_boxf9n .addBtn {
    margin-left: 20px;
}


.proc_boxf9n .roasting_boxp9x .elememtBox {
    width: 720px;
    height: auto;
    padding-bottom: 20px;

}

/*-- 제품등록>공정입력>부자재 start  ------------*/
.cover_boxz7y {
    margin-left: 20px;
    width: 620px;
    margin-bottom: 10px;

}
.cover_boxz7y .oneTBag {
    margin-bottom:10px;
}

.cover_boxz7y .ttl {
    width: 80px;
    height: auto;
    vertical-align: top;
    margin-right: 20px;
}

.cover_boxz7y .option {
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding:0 5px;
    height: 32px;
    margin-right: 10px;

}

.cover_boxz7y .option2,
.cover_boxz7y .option1 {
    width: 120px;
}

.cover_boxz7y .option2 {

}

.cover_boxz7y .firmedBox {
    width: 380px;
    margin-right: 10px;

}

.cover_boxz7y .addBtn {
    margin: 0;
    border-radius: 5px;
    border:1px solid #ececec;
    text-wrap: nowrap;
    width: 80px;
    height: 24px;
}
/*-- 제품등록>공정입력>부자재 end ------------*/

/*-- 제품등록>공정입력>공정방법 ------------*/
.products_boxc7m .roasting_boxe3x {
    margin: 0;
    margin-left: 20px;
    width: 620px;
}

.roasting_boxe3x .ttl {
    margin-right: 20px;
    width: 80px;
    height: 100px;
}

.roasting_boxe3x textarea {
    border-radius: 5px;
    border:1px solid #ccc;
    width: 370px;
    height: 120px;
    resize: none;
    padding: 10px;
}

.roasting_boxe3x .addBtn {
    /*margin: 0;*/
    /*border-radius: 5px;*/
    /*border:1px solid #ececec;*/
    /*width: 80px;*/
    /*height: 26px;*/
    /*text-wrap: nowrap;*/
}

/* productsAfterRegister end -------------------------------- */
/* producingControl start -------------------------------- */

.produce_boxfxp .under {
    text-decoration: underline;
}

.produce_boxfxp .under:hover {
    color:var(--color4);
}

/* producingControl end -------------------------------- */
/* producingDetail start -------------------------------- */

.producing_boxr8j .flexType2 {
    margin-left: 12px;
    margin-top: 10px;

}

.producing_boxr8j .nowon {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--color2);
    margin-right: 10px;
    /*width: 2px;*/
    /*height: 24px;*/
    /*background-color: #42B983;*/
}

.producing_boxr8j .productSn,
.producing_boxr8j .productName {
    border-radius: 20px;
    border:1px solid #6c6c6c;
    padding:0 24px;
    width: auto;
    height: 32px;
    line-height:32px;
    /*background-color: #42B98321;*/
    /*color: #42B983;*/
    background-color: #ececec21;
    color:#6c6c6c;

}

.area_boxg4q{
    margin-bottom: 10px;
}

.area_boxg4q .titleBox {
    margin-bottom: 20px;

}



.area_boxg4q .left {
    margin-right: 20px;
}

.area_boxg4q .elementBox {
    margin-left: 20px;
    margin-top: 10px;
}
.area_boxg4q .element {
    padding-bottom:10px;
}

.area_boxg4q .element .title {
    width: 100px;
    margin-right: 20px;
    font-size: 16px;
}


.area_boxg4q .element .data {
    border-radius: 5px;
    border:1px solid #ccc;
    color:#000;
    width: 180px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;

}

.area_boxg4q .element .data1 {
    width: 180px;

}


.memo_boxb5h textarea{
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 820px;
    height: 120px;
    padding: 5px;
}

.area_boxg4q .submitBox {
    width: 820px;
    margin: 20px 0px 20px 0;
}

/*2차 공정 상세 ----------------*/

.status_boxv2l,
.status_boxv22 {
    margin-bottom: 20px;
}

.status_boxv2l .right,
.status_boxv22 .right {
    margin-left: 40px;
    overflow: hidden;
}

.weight_tablevufb {
    /*border:1px solid red;*/
    width: 430px;
    border-collapse:collapse;
    text-align: center;
    text-wrap: nowrap;
}

.weight_tablevufb .title,
.weight_tablevufb .weight {
    border:1px solid #ececec;
    height: 32px;
    line-height: 32px;
}

.weight_tablevufb .wConfirm {
    border:1px solid #ececec;
    border-radius: 5px;
    width:60px;
    height: 24px;
    line-height: 24px;

}


/*.status_boxv22 .upside {*/
/*    margin-left: 20px;*/
/*    margin-bottom: 20px;*/

/*}*/


/*.status_boxv22 .upside .title1 {*/
/*    border-radius: 5px;*/
/*    background-color: #ececec40;*/
/*    width: 80px;*/

/*}*/

/*.status_boxv22 .upside .title2,*/
/*.status_boxv22 .upside .title3 {*/
/*    border-radius: 5px;*/
/*    background-color: #ececec40;*/
/*    !*text-align: left;*!*/
/*    width: 120px;*/
/*}*/

/*.status_boxv22 .weightBox1 {*/
/*    margin-right: 30px;*/
/*}*/

/*.status_boxv22 .right {*/
/*    width:480px;*/
/*}*/

/*.status_boxv22 .downside {*/
/*    margin-left: 20px;*/
/*    margin-bottom: 10px;*/
/*}*/


/*.status_boxv22 .ingName,*/
/*.status_boxv22 .weight {*/
/*    !*border:1px solid red;*!*/
/*    margin-right: 10px;*/
/*    border:1px solid #ececec;*/
/*    border-radius: 5px;*/
/*    width: 80px;*/
/*    height:32px;*/
/*    line-height: 32px;*/
/*    text-align: center;*/
/*    font-size: 16px;*/
/*    text-wrap: nowrap;*/
/*}*/

/*.status_boxv22 .ingName {*/
/*    margin-right: 20px;*/
/*}*/
/*.status_boxv22 .btnType1 {*/
/*    margin-left: 20px;*/

/*}*/

/* producingDetail end -------------------------------- */
/* inOutStatus start -------------------------------- */

.inout_boxq0a .left {
    width: 220px;
}

.inout_boxq0a .btnType1 {
    text-wrap: nowrap;
    margin-right: 10px;
}


/* inOutStatus end -------------------------------- */
/* ipgo pop start -------------------------------- */

.pQueue_wrapiaj, /*주문list 에서 각 항목 클릭 시, 포장발송화면으로 전송 */
.upXlx_wrapiaj, /*주문list 에서 엑셀업로드*/
.addOrder_wrapiaj, /*주문list 에서 포장대기에서 작업추가*/
.ipgo_wrapdej,         /*입고처리*/
.out_wrapiaj,           /*출고처리*/
.order_wrapdej {    /*생산지시폼*/
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
}

.pQueue_wrapiaj,
.ipgo_wrapdej {
    display: block;
}

.pQueue_conrlo,
.upXlx_conrlo,
.addOrder_conrlo,
.ipgo_conkol,
.out_conrlo,
.order_conkol {
    border-radius: 20px;
    width: 520px;
    height: 380px;
    background-color: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 101;

}

.addOrder_conrlo {
    width: 540px;
    height: 480px;
}

.pQueue_wrapiaj .padding_area,
.upXlx_wrapiaj .padding_area,
.addOrder_wrapiaj .padding_area,
.ipgo_conkol .padding_area,
.out_conrlo .padding_area,
.order_conkol .padding_area {
    margin: 20px;
    position: relative;
    height: 340px;
}

.pQueue_wrapiaj .fa-xmark,
.upXlx_wrapiaj .fa-xmark,
.addOrder_wrapiaj .fa-xmark,
.ipgo_conkol .fa-xmark,
.out_conrlo .fa-xmark,
.order_conkol .fa-xmark {
    position: absolute;
    top:0;
    right:0;
    font-size: 22px;
}


.pQueue_wrapiaj .padding_area .head_title,
.upXlx_wrapiaj .padding_area .head_title,
.addOrder_wrapiaj .padding_area .head_title,
.ipgo_conkol .padding_area .head_title,
.out_conrlo .padding_area .head_title,
.order_conkol .padding_area .head_title{
    /*margin: 0 auto;*/
    font-weight: 500;
    font-size: 22px;
    width: 480px;
    text-align: center;
    margin-bottom: 20px;
}

.pQueue_wrapiaj .padding_area .area,
.upXlx_wrapiaj .padding_area .area,
.addOrder_wrapiaj .padding_area .area,
.ipgo_conkol .padding_area .area,
.out_conrlo .padding_area .area,
.order_conkol .padding_area .area {
    margin-bottom: 10px;
}

.pQueue_wrapiaj .padding_area .area .inputType220,
.ipgo_conkol .padding_area .area .inputType220,
.out_conrlo .padding_area .area .inputType220,
.order_conkol .padding_area .area .inputType220 {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 220px;
    height: 32px;
    padding-left: 10px;

}

.ipgo_conkol .padding_area .area .schInput,
.out_conrlo .padding_area .area .schInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    height: 32px;
    padding-left: 10px;
}

.pQueue_conrlo .padding_area .area .category,
.ipgo_conkol .padding_area .area .category,
.out_conrlo .padding_area .area .category,
.order_conkol .padding_area .area .category {
    color:#5c5c5c;
    width: 100px;
    margin-right: 20px;
}


.addOrder_wrapiaj .padding_area .area .category {
    color:#5c5c5c;
    width: 80px;
    margin-right: 20px;

}

.ipgo_conkol .padding_area .area1 {
    margin-bottom: 20px;
}

.out_conrlo .padding_area .area3 {
    margin-top: 40px;

}

.upXlx_wrapiaj .padding_area .area5,
.ipgo_conkol .padding_area .area5,
.out_conrlo .padding_area .area5,
.order_conkol .padding_area .area5 {
    position: absolute;
    bottom:0;
    /*right:0;*/
    left:50%;
    transform: translateX(-50%);
}

.addOrder_wrapiaj .inputType220 {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 320px;
    height: 32px;
    padding-left: 10px;
}

.addOrder_wrapiaj .area7 .btnType3 {
    padding: 0 10px;
    height: 32px;
}

/* ipgo pop end -------------------------------- */
/* pop upload exel start -------------------------------- */

.upXlx_wrapiaj .area1 .category {
    width: 80px;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
}

.upXlx_wrapiaj .area1  input[type="file"]::file-selector-button {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* pop upload exel end -------------------------------- */

/* pop add packing queue start -------------------------------- */


.pQueue_conrlo .area .data{
    width:320px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}

.pQueue_conrlo .lastArea2 {
    position: absolute;
    top:40px;
    left:50%;
    transform: translateX(-50%);

}

.pQueue_conrlo .area4 .btnType3 {

    height: 32px;
    padding: 0 10px;
    text-wrap: nowrap;
}

.pQueue_conrlo .lastArea .btnType3 {
    width: auto;
    height: 32px;

    padding: 0 10px;
    margin-right: 10px;
    text-wrap: nowrap;
}


.pQueue_conrlo .lastArea {
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);

}

/* pop add packing queue end -------------------------------- */



/* flexType1 -------------------------------- */

.fontType1 {
    font-family: "Gmarket Sans";
}

.fontType2 {
    font-family:"Noto Sans";
}

.flexType1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType2-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.flexType3-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType5 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flexType6 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.flexCol {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexCol2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40px;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb40 {
    margin-bottom: 40px;
}

.toastBox {
    padding: 2px 40px;
    border-radius: 40px;
    background-color: #00000091;
    width: auto;
    height: 44px;
    font-size: 16px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:16%;
    left:50%;
    transform: translateX(-50%);
    z-index: 32;
}

.borderRed {
    border:1px solid red;
}

.btnType1 {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    min-width: 80px;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0px 24px;
    font-size: 16px;
    text-align: center;
    color:#303030;

}

.btnType2 {
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    min-width: 80px;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0px 24px;
    font-size: 16px;
    text-align: center;

}


.btnType3 {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color:#303030;
}

.btnType4{
    border: 1px solid var(--color1);
    background-image: var(--main-gradient);
    color:#000;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.squareType {
    border: none;
    background-image: var(--main-gradient);
    border-radius: 10px;
    font-size: 22px;
    width: 44px;
    height: 44px;
    text-align: center;
    position: relative;
    color:#fff;
}

.squareType2 {
    border: none;
    background-image: var(--gradient3);
    color:#fff;
    font-size: 22px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    text-align: center;
    position: relative;
}


.inputType160 {
    border: 1px solid #ccc;
    background-color: #fff;
    min-width: 160px;
    width: 160px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;

}

.inputBorder {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.must {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: red;
}

.notmust {
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.inputType {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    padding:0 5px;

}

.inputType360 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    min-width: 360px;
    width: 360px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding:0 5px;

}

.inputType520 {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    min-width: 160px;
    width: 520px;
    height: 44px;
    /*line-height: 44px;*/
    font-size: 14px;
    padding-left: 10px;

}

